@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playfair";
  src: url("/fonts/playfair_display-semi_bold_italic.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@layer base {
  :root {
    --pastel: #ff99cc;
    --checkboard-size: 4px;
    --checkboard-light: #777;
    --checkboard-dark: #ddd;
    --background: black;
    --foreground: #2fff2f;
    --background-light-mode: rgb(226 232 240);

    --accent: #ff00f5;

    --hero-scroll-track: 0;
    --hero-scroll-track-rev: 1;
    --snapping-strictness: "none";
    --scroll-position: 0;

    --nav-scroll-top: -48px;
    --nav-content-scroll-top: 0px;
    --nav-content-background: #fff;

    --grey1: #121212;

    --colorjoy: 0;
    --brighten: 0.5;
  }

  html {
    scroll-snap-type: "none";

    overflow-y: auto;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    background-color: var(--pastel);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    overflow-wrap: anywhere;
  }
  section:has(:is(h1, h2, h3, h4, h5, h6) + p) :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 0.75rlh;
  }

  section:has(p + p) p {
    margin-bottom: 0.25rlh;
  }
  section p:last-child {
    margin-bottom: 0;
  }

  canvas {
    position: fixed;
    inset: 0;
  }
}

@layer components {
  .shady {
    text-shadow: 3px 3px 20px var(--pastel), -2px 1px 30px var(--pastel);
  }
  .hero {
    filter: saturate(var(--colorjoy)) brightness(var(--brighten));
  }
}
