---
import "../styles/global.css"
import { Image } from "astro:assets"
---

<html
  lang="en"
  class="bg"
>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Emisim - The Color Fairy</title>
  </head>
  <body>
    <div class="flex w-full h-svh absolute justify-center items-center z-10">
      <section class="p-8 text-center text-white leading-relaxed shady">
        <!-- <h1 class="text-3xl font-bold mb-4">Emisim - The Color Fairy</h1> -->
        <p class="font-serif text-3xl font-semibold">
          A year since the world lost its colors...
        </p>
        <p class="font-sans">Let's bring them back with your magic touch.</p>
      </section>
    </div>
    <Image
      src="https://source.unsplash.com/random/585x1266/?sweden"
      alt="The world lost its colors"
      width="1266"
      height="585"
      class="hero h-svh object-cover min-w-screen overflow-hidden object-center"
    />
    <audio
      class="w-full absolute bottom-0 mb-10 z-20 p-10"
      controls
      src={`/elevenlabs.mp3`}
    ></audio>
    <canvas
      id="dotcanvas"
      class="absolute w-full h-full"
    ></canvas>
  </body>
  <script>
    import "../scripts/dotscanvas.ts"
    import "../scripts/colorize.ts"
  </script>
</html>
