---
import "../styles/global.css"
import { Image } from "astro:assets"
---

<html
  lang="en"
  class="bg"
>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Emisim - The Color Fairy</title>
  </head>
  <body>
    <div class="flex w-full h-svh absolute justify-center items-center z-10">
      <section class="p-8 text-center text-black leading-relaxed shady">
        <h2 class="text-xl">R.I.P.</h2>
        <p>
          Here lied a pathetical attempt to reason with a Narcissist, by a
          hopeless Romantic who didn't get it even after 4 sever stabs at his
          heart.
        </p>
        <p>2021-2024 💔</p>
      </section>
    </div>
  </body>
  <script>
    import "../scripts/colorize.ts"
  </script>
</html>
